@import 'src/style/core';

.CreatureCard {
  margin: 5px;

  text-shadow:
        -1px -1px 0 $mnm-gray,  
         1px -1px 0 $mnm-gray,
         -1px 1px 0 $mnm-gray,
          1px 1px 0 $mnm-gray;

  h5 {
    margin: 0;
  }

  .info-container {
    padding: 6px;
    border-radius: 8px;
    width: 155px;
    height: 280px;
    background-size: cover !important;
    opacity: 0.9;
    box-shadow: 2px 2px 4px rgba(99, 99, 99, 0.75);

    * {
      opacity: 1;
      color: $mnm-white;
    }

    .name-container {
      display: flex;
      position: relative;
      justify-content: space-between;
      text-align: left;
      height: 25%;

      .name {
        width: 85px;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
      }

      .defeat-button {
        position: absolute;
        top: 0;
        right: 0;
        height: 18px;
        background: none;
        box-shadow: 2px 2px 4px rgba(99, 99, 99, 0.75);
      }

      .creature-details {
        text-align: right;
        margin-top: 34px;

        .id {
          font-family: $font-fam-base;
        }

        .abilities {
          margin-top: 4px;
          line-height: 1.2;
        }
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 14px;

      .action-die-button {
        padding: 0; 
        background: none;
        border: none;
      }

      .dice-roll {
        font-family: Times, serif; 
        display: absolute;
        border: solid black 1px;
        border-radius: 8px;
        color: black;
        font-size: 26px;
        font-weight: 700;
        background-color: rgb(253, 246, 215);
        text-align: center;
        margin: 0 2px;
        height: 32px;
        width: 32px;
        float: right;
      }
    }
  }

  .hidden {
    display: none;
  }

  .fill {
    opacity: 0;
    height: 55px;
  }
}
