@import 'core';

.Nav {
  .nav-bar {
    background-color: $mnm-maroon;
    height: 75px;

    .mouse-icon {
      position: fixed;
      top: 0;
      left: 0;
      padding: 5px;
      height: 65px;
    }
  }

  .hamburger-button {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    background: none;
    border: none;
    

    .hamburger {
      position: relative;
      top: -10px;
      height: 5px;
      width: 40px;
      background-color: black;
      border-radius: 5px;

      &::before, &::after {
        content: '';
        display: inline-block;
        position: relative;
        height: 5px;
        width: 40px;
        background-color: black;
        border-radius: 5px;
      }

      &::before {
        top: 5px;
      }

      &::after {
        top: 3px;
      }
    }
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -150px;
    width: 150px;
    height: 100%;
    background-color: black;

    a {
      color: white;
      font-size: 24px;
    }
  }

  .open {
    right: 0px;
  }
}
